In [1]:
import pandas as pd
import os, glob, re

In [2]:
import plotly.express as px
import matplotlib.pyplot as plt   # 맷폴렛- 그래프
%matplotlib inline

# ignore warnings
import warnings    # 워닝 방지
warnings.filterwarnings('ignore')

####### matplotlib - 한글 폰트 깨짐 방지 코드 #######
import platform

if platform.system() == 'Darwin':    # 맥
    font_name = 'AppleGothic'
elif platform.system() == 'Linux':   # 리눅스
    font_name = 'NanumGothic'
elif platform.system() == 'Windows': # 윈도우
    font_name = 'Malgun Gothic'
else:
    print('알수없는 시스템. 미적용')

plt.rc('font', family=font_name)

In [3]:
os.getcwd() # 현재 디렉토리위치

'C:\\studyNote\\Project'

In [4]:
def socore(x): # 값에 따른 함수 적용
    if x == 'a' :
        return float(0.002)
    elif  x == 'b':
        return float(0.032)
    elif  x == 'c':
        return float(0.402)
    elif x == 'd':
        return float(0.803)
    elif  x == 'e':
        return float(3.870)

In [5]:
path = r'C:\data\\cnt\\'
data_path = glob.glob(path+'*')
num = 15
data_path[num:]

['C:\\data\\\\cnt\\해운대구_2017.csv']

In [6]:
dic ={}
for i in data_path[:]:
    name = i.split('\\')[-1][:-9]
    print(name)
#     name

강서구
금정구
기장군
남구
동구
동래구
부산진구
북구
사상구
사하구
서구
수영구
연제구
영도구
중구
해운대구

In [38]:
# test
for i in range(16):
    data = pd.read_csv(data_path[i], encoding='utf-8') 
    print(len(data.columns[2:]))

7
17
5
17
12
13
20
13
12
16
13
10
12
11
9
18

In [7]:
df = pd.read_csv(data_path[num], encoding='utf-8') 
df_data = df.iloc[:,2:]
dk = df_data.fillna(0)

In [8]:
dk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8772 entries, 0 to 8771
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   반송제1동   8772 non-null   object
 1   반송제2동   8772 non-null   object
 2   반여제1동   8772 non-null   object
 3   반여제2동   8772 non-null   object
 4   반여제3동   8772 non-null   object
 5   반여제4동   8772 non-null   object
 6   송정동     8772 non-null   object
 7   우제1동    8772 non-null   float64
 8   우제2동    8772 non-null   object
 9   우제3동    8772 non-null   float64
 10  재송제1동   8772 non-null   object
 11  재송제2동   8772 non-null   object
 12  좌제1동    8772 non-null   object
 13  좌제2동    8772 non-null   object
 14  좌제3동    8772 non-null   object
 15  좌제4동    8772 non-null   object
 16  중제1동    8772 non-null   float64
 17  중제2동    8772 non-null   float64
dtypes: float64(4), object(14)
memory usage: 1.2+ MB

In [9]:
def score(i):
    if i == 'a' :
        return  float(0.002)
    elif i == 'b':
        return  float(0.032)
    elif i == 'c':
        return  float(0.402)
    elif i == 'd':
        return  float(0.803)
    elif i == 'e':
        return  float(3.870)

In [10]:
for col in dk.columns:
    print(col)
    for i in dk[col]:
        score(i)

반송제1동
반송제2동
반여제1동
반여제2동
반여제3동
반여제4동
송정동
우제1동
우제2동
우제3동
재송제1동
재송제2동
좌제1동
좌제2동
좌제3동
좌제4동
중제1동
중제2동

In [11]:
cnt = 0 
for col in dk.columns:
#     print(col)
#     print(dk[col].value_counts()[1:])
    for i,j in zip(dk[col].value_counts()[1:].keys(),dk[col].value_counts()[1:]):
#         print( score(i)*j)
        cnt = cnt + ( score(i)*j)
        print(cnt)

0.036000000000000004
0.1
0.136
0.2
0.226
0.252
0.278
0.30400000000000005
0.34800000000000003
0.37400000000000005
0.4000000000000001
0.4260000000000001
0.4700000000000001
0.5140000000000001
0.5580000000000002
0.6020000000000002

In [21]:
data={
    '강서구' : 6.507000000000001,
    '금정구' : 1.648000000000001,
    '기장군' : 0.43599999999999994,
    '남구' : 17.379000000000005,
    '동구' : 19.995000000000005,
    '동래구' : 0.7,
    '부산진구' : 20.716,
    '북구' : 2.027000000000001,
    '사상구' : 12.204,
    '사하구' : 28.921000000000003,
    '서구' : 28.002000000000006,
    '수영구' : 0.096,
    '연제구' : 0.5279999999999999,
    '영도구' : 22.373000000000005,
    '중구' : 20.268,
    '해운대구' : 0.6020000000000002,
}

In [18]:
data.keys()

dict_keys(['2017_강서구', '2017_금정구', '2017_기장군', '2017_남구', '2017_동구', '2017_동래구', '2017_부산진구', '2017_북구', '2017_사상구', '2017_사하구', '2017_서구', '2017_수영구', '2017_연제구', '2017_영도구', '2017_중구', '2017_해운대구'])

In [20]:
df

,2017_강서구,2017_금정구,2017_기장군,2017_남구,2017_동구,2017_동래구,2017_부산진구,2017_북구,2017_사상구,2017_사하구,2017_서구,2017_수영구,2017_연제구,2017_영도구,2017_중구,2017_해운대구
6.507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17.379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19.995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20.716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12.204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28.921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28.002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22.373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20.268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df = pd.DataFrame(columns=['2017','날씨']) # 프레임 생성 
df

Empty DataFrame
Columns: [2017, 날씨]
Index: []

In [25]:
data.keys()

dict_keys(['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구'])

In [30]:
df['날씨'] = data.values()

In [35]:
df

    2017      날씨
0    강서구   6.507
1    금정구   1.648
2    기장군   0.436
3     남구  17.379
4     동구  19.995
5    동래구   0.700
6   부산진구  20.716
7     북구   2.027
8    사상구  12.204
9    사하구  28.921
10    서구  28.002
11   수영구   0.096
12   연제구   0.528
13   영도구  22.373
14    중구  20.268
15  해운대구   0.602

In [36]:
f_name = '날씨'
y_name = '2017'
pathName = 'C:\data\\'+f_name +'_'+ y_name+'.csv'

if pathName.split('.')[1] == 'csv' :
    if not os.path.exists( pathName ):
        df.to_csv( pathName , index = False, mode = 'w', sep=',', na_rep='NaN', encoding = 'utf-8-sig' )
    else: 
        df.to_csv( pathName , index = False, mode = 'a', sep=',', na_rep='NaN', encoding = 'utf-8-sig', header = False )

In [49]:
k=glob.glob('C:\data/'+'*')[-3]

In [55]:
a = pd.read_csv(k,sep='\t',encoding='euc-kr')

In [57]:
f_name = '날씨_t'
y_name = '2017'
pathName = 'C:\data\\'+f_name +'_'+ y_name+'.csv'

if pathName.split('.')[1] == 'csv' :
    if not os.path.exists( pathName ):
        a.to_csv( pathName , index = False, mode = 'w', sep=',', na_rep='NaN', encoding = 'utf-8-sig' )
    else: 
        a.to_csv( pathName , index = False, mode = 'a', sep=',', na_rep='NaN', encoding = 'utf-8-sig', header = False )