In [10]:
import pandas as pd
import os, glob, re

In [11]:
import plotly.express as px
import matplotlib.pyplot as plt   # 맷폴렛- 그래프
%matplotlib inline

# ignore warnings
import warnings    # 워닝 방지
warnings.filterwarnings('ignore')

####### matplotlib - 한글 폰트 깨짐 방지 코드 #######
import platform

if platform.system() == 'Darwin':    # 맥
    font_name = 'AppleGothic'
elif platform.system() == 'Linux':   # 리눅스
    font_name = 'NanumGothic'
elif platform.system() == 'Windows': # 윈도우
    font_name = 'Malgun Gothic'
else:
    print('알수없는 시스템. 미적용')

plt.rc('font', family=font_name)

In [12]:
os.getcwd() # 현재 디렉토리위치

'C:\\studyNote\\Project'

In [13]:
path = r'C:\data\\cnt\\'
data_path = glob.glob(path+'*')
data_path[:]

['C:\\data\\\\cnt\\강서구_2017.csv',
 'C:\\data\\\\cnt\\금정구_2017.csv',
 'C:\\data\\\\cnt\\기장군_2017.csv',
 'C:\\data\\\\cnt\\남구_2017.csv',
 'C:\\data\\\\cnt\\동구_2017.csv',
 'C:\\data\\\\cnt\\동래구_2017.csv',
 'C:\\data\\\\cnt\\부산진구_2017.csv',
 'C:\\data\\\\cnt\\북구_2017.csv',
 'C:\\data\\\\cnt\\사상구_2017.csv',
 'C:\\data\\\\cnt\\사하구_2017.csv',
 'C:\\data\\\\cnt\\서구_2017.csv',
 'C:\\data\\\\cnt\\수영구_2017.csv',
 'C:\\data\\\\cnt\\연제구_2017.csv',
 'C:\\data\\\\cnt\\영도구_2017.csv',
 'C:\\data\\\\cnt\\중구_2017.csv',
 'C:\\data\\\\cnt\\해운대구_2017.csv']

In [18]:
for path in data_path[:]:
    name = path.split('\\')[-1][:-9]
    print(name)

강서구
금정구
기장군
남구
동구
동래구
부산진구
북구
사상구
사하구
서구
수영구
연제구
영도구
중구
해운대구

In [19]:
df = pd.read_csv(path, encoding='utf-8') 
df_data = df.iloc[:,2:]
df_data = df_data.fillna(0)

In [20]:
df_data

,반송제1동,반송제2동,반여제1동,반여제2동,반여제3동,반여제4동,송정동,우제1동,우제2동,우제3동,재송제1동,재송제2동,좌제1동,좌제2동,좌제3동,좌제4동,중제1동,중제2동
0,0,0,0,0,0,0,0,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0
1,0,0,0,0,0,0,0,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0
2,0,0,0,0,0,0,0,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0
3,0,0,0,0,0,0,0,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0
4,0,0,0,0,0,0,0,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8767,0,0,0,0,0,0,0,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0
8768,0,0,0,0,0,0,0,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0
8769,0,0,0,0,0,0,0,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0
8770,0,0,0,0,0,0,0,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0
8771,0,0,0,0,0,0,0,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0

In [21]:
def score(i):
    if i == 'a' :
        return  float(0.002)
    elif i == 'b':
        return  float(0.032)
    elif i == 'c':
        return  float(0.402)
    elif i == 'd':
        return  float(0.803)
    elif i == 'e':
        return  float(3.870)

In [7]:
df_rain = pd.read_csv(data_path[num], encoding='utf-8') 
df_rain.columns

Index(['일', '시간', '반송제1동', '반송제2동', '반여제1동', '반여제2동', '반여제3동', '반여제4동', '송정동',
       '우제1동', '우제2동', '우제3동', '재송제1동', '재송제2동', '좌제1동', '좌제2동', '좌제3동',
       '좌제4동', '중제1동', '중제2동'],
      dtype='object')

In [8]:
df_test = df_rain.iloc[:,2:]
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8772 entries, 0 to 8771
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   반송제1동   8760 non-null   float64
 1   반송제2동   8760 non-null   float64
 2   반여제1동   8760 non-null   float64
 3   반여제2동   8760 non-null   float64
 4   반여제3동   8760 non-null   float64
 5   반여제4동   8760 non-null   float64
 6   송정동     8760 non-null   float64
 7   우제1동    8760 non-null   float64
 8   우제2동    8760 non-null   float64
 9   우제3동    8760 non-null   float64
 10  재송제1동   8760 non-null   float64
 11  재송제2동   8760 non-null   float64
 12  좌제1동    8760 non-null   float64
 13  좌제2동    8760 non-null   float64
 14  좌제3동    8760 non-null   float64
 15  좌제4동    8760 non-null   float64
 16  중제1동    8760 non-null   float64
 17  중제2동    8760 non-null   float64
dtypes: float64(18)
memory usage: 1.2 MB

In [9]:
re_data = df_test
re_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8772 entries, 0 to 8771
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   반송제1동   8760 non-null   float64
 1   반송제2동   8760 non-null   float64
 2   반여제1동   8760 non-null   float64
 3   반여제2동   8760 non-null   float64
 4   반여제3동   8760 non-null   float64
 5   반여제4동   8760 non-null   float64
 6   송정동     8760 non-null   float64
 7   우제1동    8760 non-null   float64
 8   우제2동    8760 non-null   float64
 9   우제3동    8760 non-null   float64
 10  재송제1동   8760 non-null   float64
 11  재송제2동   8760 non-null   float64
 12  좌제1동    8760 non-null   float64
 13  좌제2동    8760 non-null   float64
 14  좌제3동    8760 non-null   float64
 15  좌제4동    8760 non-null   float64
 16  중제1동    8760 non-null   float64
 17  중제2동    8760 non-null   float64
dtypes: float64(18)
memory usage: 1.2 MB

In [10]:
for i in df_test.columns:
    print(i)
    re_data[i]=df_test[i].apply(score)

반송제1동
반송제2동
반여제1동
반여제2동
반여제3동
반여제4동
송정동
우제1동
우제2동
우제3동
재송제1동
재송제2동
좌제1동
좌제2동
좌제3동
좌제4동
중제1동
중제2동

In [11]:
for i in re_data.columns:
    print(re_data[i].value_counts())

a    18
b     2
Name: 반송제1동, dtype: int64
a    18
b     2
Name: 반송제2동, dtype: int64
a    13
Name: 반여제1동, dtype: int64
a    13
Name: 반여제2동, dtype: int64
a    13
Name: 반여제3동, dtype: int64
a    13
Name: 반여제4동, dtype: int64
a    22
Name: 송정동, dtype: int64
Series([], Name: 우제1동, dtype: int64)
a    13
Name: 우제2동, dtype: int64
Series([], Name: 우제3동, dtype: int64)
a    13
Name: 재송제1동, dtype: int64
a    13
Name: 재송제2동, dtype: int64
a    22
Name: 좌제1동, dtype: int64
a    22
Name: 좌제2동, dtype: int64
a    22
Name: 좌제3동, dtype: int64
a    22
Name: 좌제4동, dtype: int64
Series([], Name: 중제1동, dtype: int64)
Series([], Name: 중제2동, dtype: int64)

In [12]:
df_rain['일']

0        1
1        1
2        1
3        1
4        1
        ..
8767    31
8768    31
8769    31
8770    31
8771
Name: 일, Length: 8772, dtype: object

In [13]:
re_data['일'] = df_rain['일']
re_data['시간'] = df_rain['시간']

In [14]:
re_data = re_data.loc[:,df_rain.columns]
re_data

,일,시간,반송제1동,반송제2동,반여제1동,반여제2동,반여제3동,반여제4동,송정동,우제1동,우제2동,우제3동,재송제1동,재송제2동,좌제1동,좌제2동,좌제3동,좌제4동,중제1동,중제2동
0,1,0.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,1,100.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,1,200.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,1,300.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,1,400.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8767,31,2000.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8768,31,2100.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8769,31,2200.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8770,31,2300.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8771,,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [15]:
data_path[num].split('_')[-2]

'해운대구'

In [16]:
f_name = data_path[num].split('_')[-2]
y_name = '2017'
pathName = 'C:\data\\'+f_name +'_'+ y_name+'.csv'

if pathName.split('.')[1] == 'csv' :
    if not os.path.exists( pathName ):
        re_data.to_csv( pathName , index = False, mode = 'w', sep=',', na_rep='NaN', encoding = 'utf-8-sig' )
    else: 
        re_data.to_csv( pathName , index = False, mode = 'a', sep=',', na_rep='NaN', encoding = 'utf-8-sig', header = False )

In [23]:
a=0.042 +0.16 +0.803 +0.04 +0.064
b=0.803+ 0.04+ 0.064+ 0.803+ 0.046
c=0.096+ 0.803+ 0.046+ 0.032+ 0.803
d=0.046+ 0.032+ 0.803+ 0.05+ 0.128+ 0.803

In [24]:
a,b,c,d

(1.1090000000000002, 1.756, 1.7800000000000002, 1.862)

In [25]:
a+b+c+d

6.507000000000001

In [ ]:
data={
    '2017_강서구' : 6.507000000000001
    '2017_금정구' : 1.648000000000001
    '2017_기장군' : 0.43599999999999994
    '2017_남구' : 17.379000000000005
    '2017_동구' : 19.995000000000005
    '2017_동래구' : 0.7
    '2017_부산진구' : 20.716
    '2017_북구' : 2.027000000000001
    '2017_사상구' : 12.204
    '2017_사하구' : 28.921000000000003
    '2017_서구' : 28.002000000000006
    '2017_수영구' : 0.096
    '2017_연제구' : 0.5279999999999999
    '2017_영도구' : 22.373000000000005
    '2017_중구' : 20.268
    '2017_해운대구' : 0.6020000000000002
}

In [ ]:
# 강서구
0.042
0.16
0.803
0.04
0.064
0.803
0.04
0.064
0.803
0.046
0.096
0.803
0.046
0.032
0.803
0.046
0.032
0.803
0.05
0.128
0.803
​